
<div id="board" class="mt-2 px-1" >
  <draggable v-model="lists" class="flex" @change="moveList">        <%# listMoved %>
  <%# data-lists="<%= @lists.to_json(include: :cards) %>
    <List v-for="list in lists" :list="list" :key="list.id" ></List>
    <Newlist></Newlist>
  </draggable>
</div>


<%# <div id="board" class="flex mt-2 px-1" data-lists="<= @lists.to_json(include: :cards) >"> %>
  <%# <div class="bg-gray-300 mx-2 w-64 rounded" v-for="list in lists">
    <h2 class="px-3 py-1 font-bold">{{ list.name }}</h2>
  </div> %>
<%# </div> %>


<%# <div class="mt-2 px-1 flex">
  < @lists.each do |list| >
    <div class="bg-gray-300 mx-2 w-64 rounded">
      <h2 class="px-3 py-1 font-bold"><= list.name ></h2>
    </div>
  < end >
</div> %>


